---
import Layout from '../layouts/Layout.astro';

import Row from '../components/Row.astro';
import Card from '../components/Card.astro';
---

<Layout title="DFOnline">
	<section class="text">
		Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere tempore, nisi autem veritatis sit recusandae et pariatur odio animi dolorum odit laboriosam cum beatae sint eum laudantium aperiam. Animi, eaque.
	</section>

	<section class="rows">
		<Row title="My DF Templates" href="/templates">
			<Card title="Template" description="Description here." />
		</Row>
		<Row title="My DF Plots" href="/plots">
			<Card title="Plot 1234" description="Some really large description in order to exceed to maximum length within the cards description box to test how the css handles large amounts of text. I could have used lorem ipsum again but I decided to describe what I was doing." />
		</Row>
		<Row title="My DFScript Scripts" href="/scripts">
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
			<Card title="Script" description="Description"></Card>
		</Row>
	</section>
</Layout>

<style>
	.text {
		padding: 2.5em;
	}

	.rows {
		display: flex;
		flex-direction: column;
		padding: 2em;
		padding-top: 1em;
		gap: 2em;
	}
</style>
