---
export interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<article>
    <h3>{title}</h3>
    <slot />
    <p>{description}</p>
</article>

<style>
    article {
        display: inline-block;
        padding: 1em;
        margin: 0.5ch;
        border-radius: 1em;
        background-color: #555;
        width: 20ch;
        overflow: hidden;
        flex: 0 0 auto;
    }

    h3 {
        margin: 0;
        margin-top: 0.1ch;
    }

    p {
        margin-top: 0.2ch;
        text-overflow: ellipsis;
    }
</style>